/* Style Sheet */

#h h1 {
	color: white;
	font-size: 50px;
}

#h p {
	color: white;
	font-size: 15px;
}

@media (min-width:600px) {
	#h h1 {
		font-size: 75px;
	}

	#h p {
		font-size: 30px;
	}
}

#h a {
	color: green;
}

.centered {text-align: center;}
.vertical-center {
	height: 100%;
	width: 100%;

	text-align: center;
	display: flex;
	align-items: center;
}

.grayscale {
	filter: grayscale(100%);
}

.not-grayscale {
	filter: grayscale(0%);
}

#h {
	background: url("../img/website-bg-stars.jpeg") no-repeat center top;
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	height: 100%;
	width: 100%;
	background-color: black;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}
